<style>
  .selected td {
    background-color: #f0f0f0 !important;
  }
</style>

<script>

</script>

<div ng-controller="Ballerz">
  <h2 class="panel" ng-init="inning='MoundBall'">{{ homeAway }}{{ inning }}</h2>
  <button type="button" ng-hide="started" ng-click="start()">Start</button>
  <button type="button" ng-click="offMound()" ng-show="started">OFF Mound</button>
  <button type="button" ng-click="onMound()" ng-show="started">ON Mound</button>

  <h4>Current Baller:</h4>
  <div class="panel">{{ ballerz[ballerTurn % ballerz.length].name }}</div>
  <h4>Points Pool:</h4>
  <div class="panel">{{ points }}</div>

  <table width="100%">
    <thead>
      <tr>
        <td>Name:</td>
        <td>Total:</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-class="{selected: $index==(ballerTurn % ballerz.length)}" ng-repeat="baller in ballerz">
        <td>{{ baller.name }}</td>
        <td>{{ baller.total }}</td>
      </tr ng-repeat-end>
    </tbody>
  </table>
  <button type="button" ng-show="started" ng-click="start()">Reset</button>

</div>
